<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.auth_shell title="Account Settings">
    <:subtitle>Change the email address you log in with.</:subtitle>

    <.form
      :let={f}
      for={@email_changeset}
      action={~p"/users/settings"}
      id="update_email"
      class="rg-auth__form"
    >
      <input type="hidden" name="action" value="update_email" />

      <.auth_input
        field={f[:email]}
        type="email"
        label="Email"
        autocomplete="username"
        spellcheck="false"
        required
      />

      <.auth_submit phx-disable-with="Changing...">Change email</.auth_submit>
    </.form>

    <p class="rg-auth__footer">
      <.link navigate={~p"/"} class="rg-auth__link">Back to the game</.link>
    </p>
  </.auth_shell>
</Layouts.app>
