<.header>
  {@page_title}
  <:actions>
    <.link patch={~p"/admin/categories/new"}>
      <.button>New Category</.button>
    </.link>
  </:actions>
</.header>

<div :if={@live_action in [:new, :edit]} class="adm-form-section mb-8">
  <.live_component
    module={RiddlrWeb.Admin.CategoryLive.FormComponent}
    id={@category.id || :new}
    action={@live_action}
    category={@category}
    current_user={@current_user}
    patch={~p"/admin/categories"}
  />
</div>

<.table
  id="categories"
  rows={@streams.categories}
>
  <:col :let={{_id, category}} label="Name">{category.name}</:col>
  <:action :let={{_id, category}}>
    <.link patch={~p"/admin/categories/#{category}/edit"}>Edit</.link>
  </:action>
  <:action :let={{_id, category}}>
    <.link
      phx-click={
        JS.push("delete", value: %{id: category.id}) |> hide("#categories-#{category.id}")
      }
      data-confirm="Are you sure? This will set all riddles in this category to have no category."
    >
      Delete
    </.link>
  </:action>
</.table>
