<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.auth_shell title="Log in">
    <:subtitle>
      <%= if @current_scope do %>
        You need to reauthenticate before you change your account.
      <% else %>
        We'll email you a link. No password needed.
      <% end %>
    </:subtitle>

    <.form
      :let={f}
      for={@form}
      as={:user}
      id="login_form_magic"
      action={~p"/users/log-in"}
      class="rg-auth__form"
    >
      <.auth_input
        field={f[:email]}
        type="email"
        label="Email"
        readonly={!!@current_scope}
        autocomplete="username"
        spellcheck="false"
        placeholder="you@example.com"
        required
        phx-mounted={JS.focus()}
      />
      <.auth_submit phx-disable-with="Sending...">
        Log in with email <span aria-hidden="true">→</span>
      </.auth_submit>
    </.form>

    <p :if={!@current_scope} class="rg-auth__footer">
      No account yet? <.link navigate={~p"/users/register"} class="rg-auth__link">Sign up</.link>
    </p>

    <div :if={local_mail_adapter?()} class="rg-auth__note">
      <.icon name="hero-information-circle" class="rg-auth__note-icon" />
      <span>
        Local mail adapter is on. Sent email lands in <.link href="/dev/mailbox">the mailbox page</.link>.
      </span>
    </div>
  </.auth_shell>
</Layouts.app>
